* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul li a {
    color: #000;
}

.main-header {
  background-color: #d42626;
  overflow: hidden;
  color: #fff;
  height: 36px;
}

.main-header h1 {
    display: inline
}

.main-header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header ul li {
    float:left;
    padding: 5px;
}

.main-header ul a {
    color: #fff;
}


.search-header {
    background-color: #ff9999;
    overflow: hidden;
    color: #000;
    padding: 5px;
    height:48px;
}

.search-header form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 30%;
    background: #f1f1f1;
}

.search-header form button {
    float: right;
    width: 10%;
    padding: 10px;
    background: #999999;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d42626;
    color: white;
    text-align: center;
    height: 20px;
  }

.facility-block {
    margin: 20px;
    width: 400px;
    background: #ffcccc;
    display: inline-block;
    float: center;
    text-align: center;
}

.facility-block:hover {
    background: #ff6666;
}

.page-title {
    display: inline;
    float: left;
    padding-top: 10px;
}

.menu-block {
    margin: 20px;
    width: 350px;
    background: #ffcccc;
    display: inline-block;
    float: center;
    text-align: center;
}

.menu-block:hover {
    background: #ff6666;
}

.menu-blocks {
    float: left;
    width: 70%;
}

.cart-block {
    margin: 20px;
    width: 350px;
    background: #ffcccc;
    display: inline-block;
    float: right;
    text-align: center;
    padding:10px;
}

.food-blocks {
    float: left;
    width: 60%;
}

.food-block {
    margin: 20px;
    width: 450px;
    background: #ffcccc;
    display: inline-block;
    float: left;
    text-align: left;
    padding:10px;
}

.button-black {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-white {
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-block {
    width: 500px;
    background: #f2f2f2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding:10px;
}

.register-block {
    width: 600px;
    background: #f2f2f2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding:10px;
}

.checkout-block {
    width: 600px;
    display:block;
    margin-right: auto;
    margin-left: auto;
    background: #f2f2f2;
    text-align: left;
    padding: 10px;
}

.side-order-block {
    float: left;
    width: 580px;
    font-size:18px;
}

input[type=text]{
    padding: 10px 10px;
}

.column{
    float: left;
    padding-bottom: 10px;
}
.left{
     margin-right: 40px;
}
.row:after{
    clear: both;
}

.column label{
    float:left;
    margin-left: 5px;
    margin-bottom: 4px;
}

/* The container of radio buttons*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* custom radio buttons */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #cccccc;
}

.container input:checked ~ .checkmark {
  background-color: #d42626;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

.button-black{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


 /* The sidebar menu */
.sidenav {
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e6e6e6;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top:84px;
  margin-bottom:20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
