<!DOCTYPE html>
<html>
<head>
	<title>IIS-canteen</title>
</head>
<body>


<h1>Canteen IS</h1>



<h2>Canteens</h2>


    <!-- {{ object}}-->

    {% for instance in object %}
        {{ instance.address }}<br>
    {% endfor %}


{% block content %}
{% endblock %}

<h2>Login</h2>


<h2>Search</h2>
<form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search_form" placeholder="search">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</body>
</html>