<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Canteen</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
        <div class="main-header">
            <h1>Canteen</h1>

            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div> <!-- End main-header -->
        <div class="search-header">
            <form class="search-bar" action="{% url 'search' %}">
                <button type="submit"><i class="fa fa-search"></i></button>              
                <input type="text" placeholder="Search..." name="search_form">
            </form>  
        </div> <!-- End search-header -->
        <div class="content">
            <h2>All facilities</h2>
                {% for instance in object %}
                    <p>
                        Name:   {{ instance.name}} <br>
                        Address:    {{ instance.address }}<br>
                        <hr>

                    </p>

                {% endfor %}


            <p>
                Here will be images of all facilities.
            </p>
        </div> <!-- End content -->
        <div class="footer">
            <p>IIS project</p>
        </div> <!-- End footer -->
</body>
</html>