{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- This file is for base html that is used for extending other html pages, sidebar is also located here-->

<head>
    {% block title %}<a href="/"><title>Canteen</title></a>{% endblock %}<!-- TODO: change title in each page? -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search icon -->
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="main-header">

             <a href="/"><h1>Canteen</h1></a>


            <ul>

                {%if user.is_authenticated%}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                
                {%endif%}

                <li><a href="/contact">Contact</a></li>
                <li><a href="/order">Orders</a></li>
                <li><a href="/cart">Cart</a></li>

            </ul>
        </div>
    {% block content %}

    {% endblock %}

    <div class="footer">
        <span style="float:left">Number of visits: {{num_visits}}</span>
        <span style="float:center">IIS project || User: {{user.username}}</span>
        <span style="float:right">xholko02 xkremp01 xnovak2f</span>
    </div> <!-- End footer -->
</body>
</html>