 {% extends "base.html" %}

        {% block content %}

        {% if food_order_instance %}
            <h2 class="page-title">Checkout</h2>
            <div class="checkout-block">
                <div class="contact-info-block" style="margin-left: auto; margin-right: auto;">
                    <h3>Contact info</h3><hr><br>
                    <div class="row">
                        <div class="column left"> <label for="firstname">First name</label> <br> <input type="text" name="firstname" size="24"></div>
                        <div class="column right"> <label for="lastname">Last name</label> <br> <input type="text" name="lastname"size="24"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="column left"> <label for="phone">Phone</label> <br> <input type="text" name="phone"size="24"></div>
                        <div class="column right"> <label for="adress">Adress</label> <br> <input type="text" name="adress"size="24"></div>
                    </div>
                    <br style="clear:both;">
                </div>
                <br>


                <div class="side-order-block">
                    <a style="text-decoration:underline; color: #999999" href="">Back to restaurant</a> <!-- TODO return to that facility -->
                    <h2>Ordering from: {{ facility_instance.name }}</h2>
                    <hr style="margin: 8px 0 4px">

                    <!-- TODO for food item -->
                    {% for instance_item in food_order_items_list %}
                        <p style="float: left">{{instance_item.id_item.name}} : {{instance_item.quantity}}x</p>
                        <p style="float: right">
                            <a href="{%url 'add_to_cart' instance_item.id_item.id_item food_order_instance.facility.id_facility%}" class="">+1</a>
                            /
                            <a href="{%url 'remove_from_cart' instance_item.id_item.id_item food_order_instance.facility.id_facility%}" class="">-1</a>
                         &nbsp;| ({{ instance_item.id_item.price }}€)
                        </p>
                        <br>
                    {%endfor%}

                        <hr style="margin: 4px 0 20px">
                        <p style="text-align: center; font-size: 40px"><b>Total:  {{price}} €</b></p><br>
                </div>
                <br>
                <a href="{%url 'pay'%}" class="" style="text-align: center"><h1>Pay</h1></a> <!-- TODO: make into button-->
                <br>
                {%if unregistered%}
                    <a href="{%url 'register_with_pay'%}" class=""><h1>Hey, wanna pay and register</h1></a>  <br>
                {%endif%}
            </div>


        {% else %}
        <h2 class="notice">Cart is empty</h2>
        {% endif %}


        {% comment %}
        {% for instance_item in food_order_items_list %}
              {{instance_item.id_item.name}} <a href="{%url 'add_to_cart' instance_item.id_item.id_item food_order_instance.facility.id_facility%}" class="">Add</a> ||
              <a href="{%url 'remove_from_cart' instance_item.id_item.id_item food_order_instance.facility.id_facility%}" class="">Remove</a> 
              Quantity: {{instance_item.quantity}}
              <br>
                      
              
        {%endfor%}
        
        {% if food_order_instance %}
            <br>
              <a href="" class=""><h1>Checkout</h1></a>  <br>
              <a href="{%url 'pay'%}" class=""><h1>Pay</h1></a>  <br>
            {%if unregistered%}
              <a href="" class=""><h1>Hey, wanna register</h1></a>  <br>
            {%endif%}
        {% else %}

        <h1 class="notice">hey, wanna order something?</h1>
        {% endif %}

        {% endcomment %}
       {% endblock %}