{% extends "base.html" %}

{% block content %}
<h1>Food order:</h1>

<div class="register-block" style="text-align: left">
ID of food order: {{food_order_instance.id_food_order}}<br>

Name: {{person_customer_instance.firstname}} {{person_customer_instance.surname}}<br>
Address: {{person_customer_instance.address}}<br>
Facility: {{food_order_instance.facility}}

<h2>Items to deliver:</h2>

{% for instance in food_order_items %}
    Name:{{instance.id_item.name}} |    
    Quantity:{{instance.quantity}}<br>
    {% endfor %}


<hr>
 <a href="{%url 'deliver_order_finally' food_order_instance.id_food_order %}"><h1 style="text-align: center">Deliver</h1></a><br>
</div>

{% endblock %}