 {% extends "base.html" %}

        {% block content %}

        <div class="search-header">
            <h2 class="page-title">All menus</h2><!-- TODO: display facility name -->
        </div> <!-- End search-header -->

        <div class="menu-blocks">
        {%if menu_objs %}
        {% for instance_menu in menu_objs %}
            <a clss="block-link" href="{%url 'menu' instance_menu.id_menu%}">
                <div class="menu-block">
                    Menu #{{instance_menu.id_menu}}<br>

                    {% if instance_menu.type == "d" %}
                        <!-- TODO: check if daily menu is for this day -> if not do not display -->
                        Daily menu<br>
                        {{ instance_menu.date}}<br>
                    {% else %}
                        Constant menu<br>
                        <br>
                    {% endif %}
                </div><!-- End menu-block -->
            </a>
        {% endfor %}

        {% endif %}
        </div><!-- End menu-blocks -->
        <div class="cart-block">
                <h3>Your cart</h3>

                x items<br>
                <b>Total: x €</b><br>

                <button class="button-black" onclick=""> <!-- TODO: redirect to checkout -->
                Checkout
                </button>
        </div><!-- End cart-block -->

        {% endblock %}
