{% extends "base.html" %}

{% block content %}
    <h2 class="page-title"><a href="/operator_view"><i class="fa fa-angle-left"></i></a> Facilities</h2>




<div class="register-block">
{% for instance in facility_instance_list%}

     <p>{{ instance.id_facility }} {{instance.name}}: <a href="{%url 'facility_update_view' instance.id_facility %}">update</a>||
     <a href="{%url 'facility_delete_view' instance.id_facility %}">delete</a>|| 
     <a href="{%url 'facility_menus_list_staff' instance.id_facility %}">Menus</a></p>

{% endfor %}
</div> 


{% endblock %}