{% extends 'base.html' %}

{% block content %}

    <h2 class="page-title">Food order update</h2>

    <div class="register-block">

        <form action='' method='POST'>    {% csrf_token %}
            <div class="form-class">
                <div style="width: 200px; margin-left: 165px;">
                <p>Status: {{view.get_instance.status}}</p>
                <p>Person:{{view.get_instance.person}}</p>
                <p>Username:{{view.get_instance.person.user.username}}</p>
                <p>Facility: {{view.get_instance.facility}}</p>
                <br>
                </div>
                <hr>
                {{ form.as_p }}
            </div>
            
            <input type='submit' value='Save' onclick="myFunction()"/>
        </form>
    </div>


    <script>
        function myFunction() {
            alert("It was saved");
        }
        </script>


    
    
{% endblock %}