{% extends "base.html" %}

{% block content %}
<div class="register-block">
<h1>Food Orders:</h1>

<h2>Today's orders:</h2>
{% for instance in today_list%}
     <p>{{ instance.id_food_order }} - <a href="{%url 'food_order_update' instance.id_food_order %}">update</a>||
     <a href="{%url 'food_order_delete' instance.id_food_order %}">delete</a></p>

{% endfor %}


<h2>All orders:</h2>

{% for instance in food_order_list%}
     <p>{{ instance.id_food_order }} - <a href="{%url 'food_order_update' instance.id_food_order %}">update</a>||
     <a href="{%url 'food_order_delete' instance.id_food_order %}">delete</a></p>

{% endfor %}

</div>
{% endblock %}