 {% extends "base.html" %}

        {% block content %}
        <!-- End main-header -->


        <div class="search-header">
            <h2 class="page-title">All facilities</h2>
            <form class="search-bar" action="{% url 'search' %}">
                <button type="submit"><i class="fa fa-search"></i></button>              
                <input type="text" placeholder="Search..." style="margin-bottom: 0px; margin-top: 0px;" name="search_form">
            </form>  
        </div> <!-- End search-header -->
        <div class="content">
            {% for instance in object %}
            <a clss="block-link" href='{{instance.get_absolute_url}}'>
                <div class="facility-block">
                    <b>{{ instance.name}}</b><br>
                    {{ instance.address }}<br>
                </div>
            </a>
            {% endfor %}
            {%if user.is_authenticated%}
            <p>Hey, you are authenticated as:{{user.username}}</p>
            {%endif%}
        </div> <!-- End content -->

        {% if user.is_staff %}

        <p>hey, you are a staff</p>>
    <!-- We can mark a BookInstance as returned. -->
    <!-- Perhaps add code to link to a "book return" view here. -->
        {% endif %}

        {% if perms.auth.delete_user %}
        <button>You can delete user</button>
        {% endif %}

        {% endblock %}
