{% extends "base.html" %}

    {% block content %}

    {% load static %}
        <div class="search-header">
            <h2 class="page-title"><a href="/facility/{{ facility.id_facility }}">BACK</a> | Menu items</h2>
            <form class="search-bar" action="{% url 'search' %}">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Search..." name="search_form">
            </form>
        </div> <!-- End search-header -->

    <div class="food-blocks">
    {%if item_objs%}

        <!-- Deciding whether to disable add button --><!-- TODO: temp fix, find better solution -->
        {% if menu.type == 's' %}
            {% firstof "" as is_disabled %}
        {% else %}
            {% now "Y-m-d" as todays_date %}
            {% if todays_date == menu.date|date:"Y-m-d" %}
                {% firstof "" as is_disabled %}
            {% else %}
                {% firstof "disabled" as is_disabled %}
            {% endif %}
        {% endif %}

        {% if is_disabled == "disabled" %}
        <p><b>WARNING: You cannot order from this menu, it is not current!</b></p>
        {% endif %}

    {% for instance_item in item_objs %}
        <div class="food-block">
            <img src="{% static instance_item.image %}" width="100px" height="100px" style="float:left;margin-right:10px">
            <div style="float:left">
                <b>{{instance_item.name}}</b><br>
                {{instance_item.description}}<br>
                <b>{{instance_item.price}} €</b><br>
                <!--<a href="{%url 'add_to_cart' instance_item.id_item id_facility%}" class="">Add to Cart</a><br>-->
            </div>
            <div style="float:right">
                <button class="button-white" onclick="" style="float:right " {{ is_disabled }}> <!-- TODO: add functionality, visually different if disabled-->
                    <a href="{%url 'add_to_cart' instance_item.id_item id_facility%}" class="">Add to Cart</a>
                </button>
            </div>
        </div>

    {% endfor %}

    {%endif%}
    </div><!-- End food-blocks -->

    <div class="cart-block">
        <h3>Your cart</h3>

        x items<br>
        <b>Total: x €</b><br>

        <button class="button-black" onclick=""> <!-- TODO: redirect to checkout -->
        Checkout
        </button>
    </div><!-- End cart-block -->


    {% endblock %}
