{% extends "base.html" %}

{% block content %}
<h1>Operator page</h1>
<h1>Orders</h1>
<a href="food_order">Orders</a><br>

<h1>Facilities administration</h1>
<a href="#">Facilities list</a><br>
<a href="#">Add facility</a><br>
<a href="#">Delete facility</a><br>



<h1>Food administration and menus</h1>
<a href="food_admin">Food administration</a>

<a href="#">Food lists</a><br>
<a href="#">Add food</a><br>
<a href="#">Delete food</a><br>

<a href="#">Menu lists</a><br>
<a href="#">Add Menu</a><br>
<a href="#">Delete Menu</a><br>

{% endblock %}