 {% extends "base.html" %}

             {% block content %}

                 <br><h1 style="text-align: center; font-size: 50px; margin-top: 10px; margin-bottom: 10px;">Orders</h1><br>

        <div class="checkout-block">
                <div class="contact-info-block" style="margin-left: auto; margin-right: auto;">
                    <h2>Contact info</h2><hr><br>
                    <div class="row">
                        <div class="column left"> <label for="firstname">First name</label> <br> <input type="text" name="firstname" size="24"></div>
                        <div class="column right"> <label for="lastname">Last name</label> <br> <input type="text" name="lastname"size="24"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="column left"> <label for="phone">Phone</label> <br> <input type="text" name="phone"size="24"></div>
                        <div class="column right"> <label for="e-mail">E-mail</label> <br> <input type="text" name="e-mail"size="24"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="column left"> <label for="adress">Adress</label> <br> <input type="text" name="adress"size="24"></div>
                    </div>
                    <br style="clear:both;">
                </div>
                <br>


            <div class="side-order-block">
                <a style="text-decoration:underline; color: #999999" href="">Back to restaurant</a> <!-- TODO return to that facility -->
                <h2>Ordering from</h2><hr><br>
                <b>Facility name</b><br><!-- TODO facility name -->
                <hr>

                <!-- TODO for food item -->
                1x food name ... x €<br>
                <hr>
                <b>Total: x €</b><br>
            </div>
            <br style="clear:both;">
            <br>



            <div class="payment-block" style="margin-left: auto; margin-right: auto;">
                    <h2>Payment form</h2><hr><br>
                    <form>
                        <label class="container">Cash on delivery
                            <input type="radio" name="cash_delivery" value="cash_delivery" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Card on delivery
                            <input type="radio" name="card_delivery" value="card_delivery">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Card now
                            <input type="radio" name="card_now" value="card_now">
                            <span class="checkmark"></span>
                        </label>
                    </form>
            </div>
            <br>

            <button class="button-black" onclick=""> <!-- TODO: order -->
                Order
            </button>
        </div>

        {% if message %}
                Hey, wanna register? 
        {% endif %}
        {% if food_order_ordered %}
        <h1>Ordered</h1>
        {% for order in food_order_ordered %}
        {{order.date_created}}<br>
        {%endfor%}
        {% endif %}
        
        {% if food_order_approved %}


        <h1>Approved</h1>
        {% for order in food_order_approved %}
        {{order.date_created}}<br>
        {%endfor%}
        {% endif %}

        {% if food_order_canceled %}


        <h1>Canceled</h1>
        {% for order in food_order_canceled %}
        {{order.date_created}}<br>
        {%endfor%}

        {% endif %}

        {% if food_order_delivered %}


        <h1>Delivered</h1>
        {% for order in food_order_delivered %}
        {{order.date_created}}<br>
        {%endfor%}

        {% endif %}

        {% endblock %}
