{% extends 'base.html' %}

{% block content %}

     <h2 class="page-title">Users</h2>

    <div class="register-block">

        {% for instance in person_instance_list %}
        <div style="text-align: left; margin-left: 200px">
            ID: {{instance.id_person}}<br>
            Login: {{instance.user}} <br>
            Firstname: {{instance.firstname}} <br>
            Surname: {{instance.surname}} <br>
            {% if instance.role == "a" %}
                Role: administrator
                {% elif instance.role == "o" %}
                Role: operator
                {% elif instance.role == "d" %}
                Role: driver
                {% else %}
                Role: registered user
                {% endif %}
            <br><br>
            <a href="{%url 'person_update' instance.id_person %}">UPDATE</a> ||
            <a href="{%url 'person_delete' instance.id_person %}">DELETE</a><br>
        </div>
            <hr style="margin: 10px 10px">
        {% endfor %}
    </div>

{% endblock %}