{% extends 'base.html' %}

{% block content %}

     <h2 class="page-title">Users</h2>

    <div class="register-block">

        {% for instance in person_instance_list %}
            ID: {{instance.id_person}}<br>
            Login: {{instance.user}} <br>
            Firstname: {{instance.firstname}} <br>
            Surname:{{instance.surname}} <br>
            <a href="{%url 'person_update' instance.id_person %}">UPDATE</a> ||
            <a href="{%url 'person_delete' instance.id_person %}">DELETE</a><br>
            <br><hr><br>
        {% endfor %}
    </div>

{% endblock %}