{% extends "base.html" %}

{% block content %}

<div class="search-header">
    <h2 class="page-title">Profile</h2>
</div> <!-- End search-header -->

 <!-- Side navigation
<div class="sidenav">
    <a href="#"> Back to restaurants</a>
 TODO: to user or not to use?-->
 <!--
    <p>Menu</p>
    <hr>

    <a href="#">Profile</a>
    <a href="profile_edit">Edit profile</a>
    <a href="#">My orders</a>
    TODO: redirects to user or not to use?-->

    
    {% if role == "a" %}
        <div class="employee-panel">
            <a href="/operator_view">Operator Page</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/driver_view">Driver Page</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/admin_view">Admin Page</a>
        </div>
        <br>
    {% endif %}

    {% if role == "o" %}
        <div class="employee-panel">
            <a href="/operator_view">Operator Page</a>
        </div>
        <br>
    {% endif %}

    {% if role == "d" %}
        <div class="employee-panel">
            <a href="/driver_view">Driver Page</a>
        </div>
        <br>
    {% endif %}


    <!-- TODO: get user role, based on role display rest of the menu -->
</div>
    <!-- Page content -->
    <div class="main">
        <div class="profile-window">
            <div style="float: right; margin-top: 2px">
                <a href="profile_edit">Edit profile</a> |
                <a href="../change_password">Change password</a>
            </div>
            <br>
            <hr style="margin: 4px 0 10px">
            <div style="display:block">
                Name: {{ person.firstname }}<br>
                Surname: {{ person.surname }}<br>
                Email: {{ person.email }}<br>
                Telephone: {{ person.telephone }}<br>
                Address: {{ person.address }}<br>
                {% if role == "a" %}
                Role: administrator<br>
                {% elif role == "o" %}
                Role: operator<br>
                {% elif role == "d" %}
                Role: driver<br>
                {% else %}
                Role: registered user<br>
                {% endif %}
            </div>
            <hr style="margin: 10px 0 10px">
        </div>
    </div>
</div>


{% endblock %}