{% extends "base.html" %}

{% block content %}

<div class="search-header">
            <h2 class="page-title">Profile</h2>
</div> <!-- End search-header -->

 <!-- Side navigation -->
<div class="sidenav">
    <a href="#">< Back to restaurants</a>

    <p>Menu</p>
    <hr>
    <a href="#">Profile</a><!-- TODO: redirect -->
    <a href="#">Edit profile</a><!-- TODO: redirect -->
    <a href="#">My orders</a><!-- TODO: redirect -->

    
    {% if role == "a" %}
        
        <a href="/operator_view">Operator Page</a>
        <a href="/driver_view">Driver Page</a>
        <a href="/admin_view">Admin Page</a>
        
    {% endif %}

    {% if role == "o" %}
    <a href="/operator_view">Operator Page</a>
    {% endif %}

    {% if role == "d" %}
    <a href="/driver_view">Driver Page</a>
    {% endif %}


    <!-- TODO: get user role, based on role display rest of the menu -->
</div>

<!-- Page content -->
<div class="main">
  <div class="profile-window">
      <h2>Profile</h2>
      <hr>
      <div style="display:block">
          <img src="" alt="profile picture" width="150px" height="150px" style="float:left"/>
          First name<br><!-- TODO -->
          Last name<br><!-- TODO -->
          Email<br><!-- TODO -->
          Telephone<br><!-- TODO -->
          Address<br><!-- TODO -->
      </div>
      <hr>
      <div style="display:block">
          <h3>Description</h3>
          TODO
      </div>
  </div>
</div>


{% endblock %}