{% extends "base.html" %}
<h1>Edit Profile</h1>
{% block content %}


<div class="register-block">


        <form method="POST">
            {%csrf_token%}
            <div class="row" style="display: flex;">
                <div class="column2-left"><label for="id_firstname">Firstname:</label></div>
                <div class="column2-right"><input type="text" name="firstname" maxlength="30" id="id_firstname" value="{{person.firstname}}"></div>
            </div>
            <div class="row" style="display: flex;">
                <div class="column2-left"><label for="id_surname">Surname:</label></div>
                <div class="column2-right"><input type="text" name="surname" maxlength="30" id="id_surname" value="{{person.surname}}"></div>
            </div>
            <div class="row" style="display: flex;">
                <div class="column2-left"><label for="id_email">Email:</label></div>
                <div class="column2-right"><input type="email" name="email" maxlength="254" required id="id_email" value="{{person.email}}"></div>
            </div>
            <div class="row" style="display: flex;">
                <div class="column2-left"><label for="id_address">Address:</label></div>
                <div class="column2-right"><input type="text" name="address" maxlength="30" id="id_address" value="{{person.address}}"></div>
            </div>
            <div class="row" style="display: flex;">
                <div class="column2-left"><label for="id_telephone">Telephone:</label></div>
                <div class="column2-right"><input type="text" name="telephone" maxlength="30" id="id_telephone" value="{{person.telephone}}"></div>
            </div>
<!--            <span class="helptext" style="font-size:12px"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span> -->
            <button class="button-black">Update</button>
        </form>
    </div>

{% endblock %}