* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial;
}

a {
    text-decoration: none;
    color: #000;
}

.main-header {
  background-color: #cc0000;
  overflow: hidden;
  color: #fff;
}

.main-header h1 {
    display: inline
}

.main-header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header ul li {
    float:left;
    padding: 5px;
}

.main-header ul a {
    color: #fff;
}

.search-header {
    background-color: #ff9999;
    overflow: hidden;
    color: #000;
    padding: 5px;
}

.search-header form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 30%;
    background: #f1f1f1;
}

.search-header form button {
    float: right;
    width: 10%;
    padding: 10px;
    background: #999999;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cc0000;
    color: white;
    text-align: center;
  }

.facility-block {
    margin: 20px;
    width: 400px;
    background: #ffcccc;
    display: block;
    float: center;
    text-align: center;
}

.facility-block:hover {
    background: #ff6666;
}

.page-title {
    display: inline;
    float: left;
    padding-top: 10px;
}

.menu-block {
    margin: 20px;
    width: 350px;
    background: #ffcccc;
    display: inline-block;
    float: center;
    text-align: center;
}

.menu-block:hover {
    background: #ff6666;
}

.menu-blocks {
    float: left;
    width: 70%;
}

.cart-block {
    margin: 20px;
    width: 350px;
    background: #ffcccc;
    display: inline-block;
    float: right;
    text-align: center;
    padding:10px;
}

.food-blocks {
    float: left;
    width: 60%;
}

.food-block {
    margin: 20px;
    width: 450px;
    background: #ffcccc;
    display: inline-block;
    float: left;
    text-align: left;
    padding:10px;
}

.button-black {
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-white {
  background-color: #fff;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}